appdirs==1.4.3
lxml==3.7.3
packaging==16.8
pyparsing==2.2.0
-e git+git@github.com:ctaylor4874/python3-amazon-mws.git@cee75699c9500d7c46f58be5a2a9802f91453a35#egg=python_amazon_mws
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
